

<footer class="footer">
    <div class="mid-footer">
        <div class="container">
            <div class="row" style="justify-content: center;">
                <div class="col-xs-12 col-md-6 col-lg-cus-30 footer-info">
                    <div class="logo-footer">
                        <a href="/" title="Góc Hoa Xinh">
                            <img width="249" height="26" src="//bizweb.dktcdn.net/100/487/411/themes/957692/assets/logo_footer.png?1757405855081" data-src="//bizweb.dktcdn.net/100/487/411/themes/957692/assets/logo_footer.png?1757405855081" alt="Góc Hoa Xinh" class="lazyload loaded" data-was-processed="true">
                        </a>
                    </div>

                    <div class="des_foo">

                    </div>

                    <div class="list-menu toggle-mn">
                        <div class="content-contact clearfix">
                            <span class="list_footer">
                                <b>Địa chỉ: </b>

                                114 Dương Quang Đông, Phường 5, Quận 8 (Online)

                            </span>
                        </div>
                        <div class="content-contact clearfix">
                            <span class="list_footer">
                                <b>Điện thoại: </b>&nbsp;
                                <a title="0859336677" style="color: white;">
                                    0859336677
                                </a>
                            </span>
                        </div>
                        <div class="content-contact clearfix">
                            <span class="list_footer">
                                <b>Email: </b>
                                <a title="gochoaxinh@gmail.com">
                                    gochoaxinh@gmail.com
                                </a>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-md-6 col-lg-cus-20 footer-click">
                    <h4 class="title-menu clicked">
                        Menu
                    </h4>

                    <ul class="list-menu toggle-mn hidden-mob list-social">

                        <li class="li_menu">
                            <a href="/" title="Trang chủ">Trang chủ</a>
                        </li>

                        <li class="li_menu">
                            <a href="~/SanPham/tat_ca_san_pham" title="Tất cả sản phẩm">Tất cả sản phẩm</a>
                        </li>

                        <li class="li_menu">
                            <a href="~/SanPham/bo_hoa_tuoi" title="Bó Hoa Tươi">Bó Hoa Tươi</a>
                        </li>

                        <li class="li_menu">
                            <a href="~/SanPham/ke_hoa_chuc_mung" title="Kệ Hoa chúc mừng">Kệ Hoa chúc mừng</a>
                        </li>

                        <li class="li_menu">
                            <a href="~/SanPham/hoa_cuoi" title="Hoa Cưới">Hoa Cưới</a>
                        </li>

                        <li class="li_menu">
                            <a href="~/SanPham/hoa_sap" title="Hoa Sáp">Hoa Sáp</a>
                        </li>

                        <li class="li_menu">
                            <a href="~/Home/Tin_tuc" title="Tin Tức">Tin Tức</a>
                        </li>

                        <li class="li_menu">
                            <a href="~/Home/Lien_he" title="Liên Hệ">Liên Hệ</a>
                        </li>

                    </ul>


                </div>

                <div class="col-xs-12 col-md-6 col-lg-cus-20 footer-click">
                    <h4 class="title-menu clicked">
                        Chính sách
                    </h4>
                    <ul class="list-menu toggle-mn hidden-mob list-social">
                        <li class="li_menu">
                            <a href="~/Chinh_Sach_/Hinh_thuc_thanh_toan" title="Hình Thức Thanh Toán">Hình Thức Thanh Toán</a>
                        </li>

                        <li class="li_menu">
                            <a href="~/Chinh_Sach_/Giao_hang" title="Chính sách giao hàng">Chính sách giao hàng</a>
                        </li>

                        <li class="li_menu">
                            <a href="~/Chinh_Sach_/Bao_mat" title="Chính sách bảo mật thông tin">
                                Chính sách
                                bảo mật thông tin
                            </a>
                        </li>

                        <li class="li_menu">
                            <a href="~/Chinh_Sach_/Bao_hanh" title="Chính sách bảo hành">Chính sách bảo hành</a>
                        </li>

                        <li class="li_menu">
                            <a href="~/Chinh_Sach_/Dieu_khoan_su_dung" title="Điều khoản sử dụng">Điều khoản sử dụng</a>
                        </li>

                    </ul>

                </div>

                <div class="col-xs-12 col-md-6 col-lg-cus-30 footer-click">
                    <div class="block-social">
                        <h4 class="title-menu">
                            Fanpage
                        </h4>
                        <div id="fb-root" class=" fb_reset fb_reset">
                            <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
                                <div></div>
                            </div>
                            <div style="position: absolute; top: -10000px; width: 0px; height: 0px;"><div></div></div>
                        </div>
                        <script async="" defer="" crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&amp;version=v14.0&amp;appId=852455195176361&amp;autoLogAppEvents=1" nonce=""></script>


                        <div class="fb-page fb_iframe_widget" data-href="https://facebook.com/shopgochoaxinh" data-tabs="timeline" data-width="" data-height="130px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=852455195176361&amp;container_width=340&amp;height=130&amp;hide_cover=false&amp;href=https%3A%2F%2Ffacebook.com%2Fshopgochoaxinh&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=timeline&amp;width="><span style="vertical-align: bottom; width: 340px; height: 130px;"><iframe name="f5a257d8beef5b57a" width="1000px" height="130px" data-testid="fb:page Facebook Social Plugin" title="fb:page Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v14.0/plugins/page.php?adapt_container_width=true&amp;app_id=852455195176361&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df788cd4f4c81ed69a%26domain%3D127.0.0.1%26is_canvas%3Dfalse%26origin%3Dhttp%253A%252F%252F127.0.0.1%253A5501%252Ffeeb40eacd2d44e98%26relation%3Dparent.parent&amp;container_width=340&amp;height=130&amp;hide_cover=false&amp;href=https%3A%2F%2Ffacebook.com%2Fshopgochoaxinh&amp;locale=vi_VN&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=timeline&amp;width=" style="border: none; visibility: visible; width: 340px; height: 130px;" class=""></iframe></span></div>

                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="bg-footer-bottom copyright clearfix">
        @*<div class="container">
            <div class="row tablet">
                <div id="copyright" class="col-lg-12 col-md-12 col-xs-12 fot_copyright">
                    <span class="wsp">

                        <span class="mobile">
                            © Bản quyền thuộc về <b>Góc Hoa Xinh</b>
                            <span class="dash"> | </span>
                        </span>

                        <span class="opacity1">Cung cấp bởi</span>

                        <a href="https://www.sapo.vn/?utm_campaign=cpn:kho_theme-plm:footer&amp;utm_source=Tu_nhien&amp;utm_medium=referral&amp;utm_content=fm:text_link-km:-sz:&amp;utm_term=&amp;campaign=kho_theme-sapo" rel="nofollow" title="Sapo" target="_blank">Sapo</a>

                    </span>
                </div>
            </div>*@

        <a href="#" class="backtop show" title="Lên đầu trang"><i class="icon-up"></i></a>

    </div>
</footer>

