﻿

<footer class="footer">
    <div class="mid-footer">
        <div class="container">
            <div class="row" style="justify-content: center;">
                <div class="col-xs-12 col-md-6 col-lg-cus-30 footer-info">
                    <div class="logo-footer">
                        <a href="/" title="Góc Hoa Xinh">
                            <img width="249" height="26" src="//bizweb.dktcdn.net/100/487/411/themes/957692/assets/logo_footer.png?1757405855081" data-src="//bizweb.dktcdn.net/100/487/411/themes/957692/assets/logo_footer.png?1757405855081" alt="Góc Hoa Xinh" class="lazyload loaded" data-was-processed="true">
                        </a>
                    </div>

                    <div class="des_foo">

                    </div>

                    <div class="list-menu toggle-mn">
                        <div class="content-contact clearfix">
                            <span class="list_footer">
                                <b>Địa chỉ: </b>

                                140 Lê Trọng Tấn, Quận Tân Phú

                            </span>
                        </div>
                        <div class="content-contact clearfix">
                            <span class="list_footer">
                                <b>Điện thoại: </b>&nbsp;
                                <a title="0898449950" style="color: white;">
                                    0898449950
                                </a>
                            </span>
                        </div>
                        <div class="content-contact clearfix">
                            <span class="list_footer">
                                <b>Email: </b>
                                <a title="2001230486@huit.edu.vn">
                                    2001230486@huit.edu.vn
                                </a>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-md-6 col-lg-cus-20 footer-click">
                    <h4 class="title-menu clicked">
                        Menu
                    </h4>

                    <ul class="list-menu toggle-mn hidden-mob list-social">

                        <li class="li_menu">
                            <a href="/" title="Trang chủ">Trang chủ</a>
                        </li>

                        <li class="li_menu">
                            <a href="~/SanPham/tat_ca_san_pham" title="Tất cả sản phẩm">Tất cả sản phẩm</a>
                        </li>

                        <li class="li_menu">
                            <a href="~/SanPham/bo_hoa_tuoi" title="Bó Hoa Tươi">Bó Hoa Tươi</a>
                        </li>

                        <li class="li_menu">
                            <a href="~/SanPham/ke_hoa_chuc_mung" title="Kệ Hoa chúc mừng">Kệ Hoa chúc mừng</a>
                        </li>

                        <li class="li_menu">
                            <a href="~/SanPham/hoa_cuoi" title="Hoa Cưới">Hoa Cưới</a>
                        </li>

                        <li class="li_menu">
                            <a href="~/SanPham/hoa_sap" title="Hoa Sáp">Hoa Sáp</a>
                        </li>

                        <li class="li_menu">
                            <a href="~/Home/Tin_tuc" title="Tin Tức">Tin Tức</a>
                        </li>

                        <li class="li_menu">
                            <a href="~/Home/Lien_he" title="Liên Hệ">Liên Hệ</a>
                        </li>

                    </ul>


                </div>

                <div class="col-xs-12 col-md-6 col-lg-cus-20 footer-click">
                    <h4 class="title-menu clicked">
                        Chính sách
                    </h4>
                    <ul class="list-menu toggle-mn hidden-mob list-social">
                        <li class="li_menu">
                            <a href="~/Chinh_Sach_/Hinh_thuc_thanh_toan" title="Hình Thức Thanh Toán">Hình Thức Thanh Toán</a>
                        </li>

                        <li class="li_menu">
                            <a href="~/Chinh_Sach_/Giao_hang" title="Chính sách giao hàng">Chính sách giao hàng</a>
                        </li>

                        <li class="li_menu">
                            <a href="~/Chinh_Sach_/Bao_mat" title="Chính sách bảo mật thông tin">
                                Chính sách
                                bảo mật thông tin
                            </a>
                        </li>

                        <li class="li_menu">
                            <a href="~/Chinh_Sach_/Bao_hanh" title="Chính sách bảo hành">Chính sách bảo hành</a>
                        </li>

                        <li class="li_menu">
                            <a href="~/Chinh_Sach_/Dieu_khoan_su_dung" title="Điều khoản sử dụng">Điều khoản sử dụng</a>
                        </li>

                    </ul>

                </div>

                <div class="col-xs-12 col-md-6 col-lg-cus-30 footer-click">
                    <h4 class="title-menu clicked">
                        Thành Viên thực hiện
                    </h4>
                    <ul class="list-menu toggle-mn hidden-mob list-social">
                        <li class="li_menu">
                            <a>Phạm Nguyễn Minh Luân</a>
                        </li>

                        <li class="li_menu">
                            <a>Lê Văn Minh</a>
                        </li>

                        <li class="li_menu">
                            <a>Phùng Tuấn Huy </a>
                        </li>

                        <li class="li_menu">
                            <a>Trần Mạnh Toàn</a>
                        </li>

                        <li class="li_menu">
                            <a>Lê Thị Tuyết Nhi</a>
                        </li>

                        <li class="li_menu">
                            <a>Phạm Sỹ Nguyên</a>
                        </li>

                    </ul>

                </div>

            </div>
        </div>
    </div>
    <div class="bg-footer-bottom copyright clearfix">
        @*<div class="container">
            <div class="row tablet">
                <div id="copyright" class="col-lg-12 col-md-12 col-xs-12 fot_copyright">
                    <span class="wsp">

                        <span class="mobile">
                            © Bản quyền thuộc về <b>Góc Hoa Xinh</b>
                            <span class="dash"> | </span>
                        </span>

                        <span class="opacity1">Cung cấp bởi</span>

                        <a href="https://www.sapo.vn/?utm_campaign=cpn:kho_theme-plm:footer&amp;utm_source=Tu_nhien&amp;utm_medium=referral&amp;utm_content=fm:text_link-km:-sz:&amp;utm_term=&amp;campaign=kho_theme-sapo" rel="nofollow" title="Sapo" target="_blank">Sapo</a>

                    </span>
                </div>
            </div>*@

        <a href="#" class="backtop show" title="Lên đầu trang"><i class="icon-up"></i></a>

    </div>
</footer>