body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #38c172;
    color: #fff;
    transition: all 0.3s;
    position: fixed;
    height: 100vh;
    z-index: 999;
}

    .sidebar.active {
        margin-left: -250px;
    }

    .sidebar .sidebar-header {
        padding: 20px;
        background: #38c172;
    }


    .sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    .sidebar ul li a {
        padding: 15px 20px;
        font-size: 1.1em;
        display: block;
        color: #fff;
        text-decoration: none;
    }

        .sidebar ul li a:hover {
            color: #28a745;
            background: #fff;
        }

    .sidebar ul li.active > a, a[aria-expanded="true"] {
        color: #fff;
        background: #2b9858;
    }

    .sidebar ul li a i {
        margin-right: 10px;
    }

.main-content {
    width: calc(100% - 250px);
    padding: 0;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

    .main-content.active {
        width: 100%;
    }

    .main-content .navbar {
        padding: 15px 10px;
        background: #fff;
        border: none;
        border-radius: 0;
        margin-bottom: 20px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }

    .main-content .content-body {
        padding: 20px;
    }

.card {
    background-color: white;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
}

.card-body {
    display: flex;
    align-items:center;
}
    .card-body .icon {
        font-size: 30px;
        /*width: 100%;*/
        padding: 10px 20px;
        border-radius: 5px;
        margin-right: 15px;
        color: white;
    }

    .card-body .text-value {
        font-size: 1.8rem;
        font-weight: bold;
    }

    .card-body .text-muted {
        font-size: 0.9rem;
    }

.table-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.status-completed {
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.8em;
}

.status-pending {
    background-color: #ffc107;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.8em;
}

@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }

        .sidebar.active {
            margin-left: 0;
        }

    .main-content {
        width: 100%;
    }

        .main-content.active {
            width: calc(100% - 250px);
        }

    #sidebarCollapse span {
        display: none;
    }
}
/* QL_SANPHAM PAGIANTION */

.pagination > .page-item > a,
.pagination > .page-item > span {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

    .pagination > .page-item > a:hover {
        z-index: 2;
        color: #0056b3;
        text-decoration: none;
        background-color: #e9ecef;
        border-color: #dee2e6;
    }

.pagination > .page-item.active > span {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.pagination > .page-item.disabled > span {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}