
@{
    ViewBag.Title = "404 Không tìm thấy trang";
    Layout = "~/Views/Shared/_LayoutChung.cshtml";
}

<section class="page layout-404">
    <div class="container" bis_skin_checked="1">
        <div class="margin-bottom-40 margin-top-40 a-center" bis_skin_checked="1">
            <img src="~/Images/bn_404.jpg" width="536" height="341" alt="Không tìm thấy tran">
            <h1 class="title-section-page"></h1><h1>Oops! Trang bạn tìm kiếm không tồn tại.</h1>
            <p>Chúng tôi không thể tìm thấy trang bạn yêu cầu.<br> Bạn vui lòng trở lại trang chủ, thử tìm kiếm với từ khóa khác hoặc tiếp tục mua sắm!</p>
            <a href="/" class="btn-home">QUAY LẠI TRANG CHỦ</a>
        </div>
    </div>
</section>

