@{
    ViewBag.Title = "Đăng nhập tài khoản";
    Layout = "~/Views/Shared/_LayoutChung.cshtml";
}

<div class="bg-gray">
    <section class="section">
        <div class="container">
            <div class="page_login">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xl-4 offset-0 offset-xl-4 offset-lg-4 offset-md-3 offset-xl-3 col-12 account-animate">
                        <div class="page-login pagecustome clearfix">
                            <div class="wpx">
                                <h1 class="title_heads a-center"><span>Đăng nhập</span></h1>
                                <div id="login" class="section">
                                    <form method="post" action="/account/login" id="customer_login" accept-charset="UTF-8">
                                        <input name="FormType" type="hidden" value="customer_login">
                                        <input name="utf8" type="hidden" value="true">
                                        <span class="form-signup" style="color:red;">@*@Html.ValidationMessageFor()*@</span>
                                        <div class="form-signup clearfix">
                                            <fieldset class="form-group">
                                                <input type="email" class="form-control form-control-lg" value="" name="email" id="customer_email" placeholder="Email" required="">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <input type="password" class="form-control form-control-lg" value="" name="password" id="customer_password" placeholder="Mật khẩu" required="">
                                            </fieldset>
                                            <div class="pull-xs-left">
                                                <input class="btn btn-primary btn-style" type="submit" value="ĐĂNG NHẬP">
                                            </div>
                                            <div class="btn_boz_khac">
                                                <div class="btn_khac">
                                                    <span class="quenmk">Quên mật khẩu?</span>
                                                    <a href="~/Account/Dang_ky" class="btn-link-style btn-register" title="Đăng ký tại đây">Đăng ký tại đây</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                
                                <div class="h_recover" style="display:none;">
                                    <div id="recover-password" class="form-signup page-login">
                                        <form method="post" action="/account/recover" id="recover_customer_password" accept-charset="UTF-8">
                                            <input name="FormType" type="hidden" value="recover_customer_password">
                                            <input name="utf8" type="hidden" value="true">
                                            <div class="form-signup" style="color: red;"></div>
                                            <div class="form-signup clearfix">
                                                <fieldset class="form-group">
                                                    <input type="email" class="form-control form-control-lg" value="" name="Email" id="recover-email" placeholder="Email" required="">
                                                </fieldset>
                                            </div>
                                            <div class="action_bottom">
                                                <input class="btn btn-primary" style="margin-top: 0px;" type="submit" value="Lấy lại mật khẩu">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>